@use '../../styles/variables.scss' as v;
@use '../../styles/breakpoints.scss' as breakpoint;

.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 54px 16px;
  min-height: 482px;
  background-color: v.$text-color-white;
  color: v.$color-dark;

  @include breakpoint.for-large-up {
    min-height: 525px;
    padding: 96px 0;
  }

  &__container {
    @include breakpoint.for-large-up {
      width: 846px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 36px;
    margin: 0;
    margin-top: 56px;
    text-transform: uppercase;

    @include breakpoint.for-large-up {
      font-size: 44px;
      line-height: 56px;
      letter-spacing: -4%;
      align-self: flex-start;
    }
  }

  &__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include breakpoint.for-large-up {
      margin-top: 64px;
      max-width: 846px;
    }
  }
}

.faq {
  position: relative;
  width: 100%;

  &__item {
    background-color: rgba(v.$color-comment, 1);
    padding: 16px;
    border-radius: 4px;

    &:hover,
    &_open {
      background-color: v.$color-purple;

      .faq__title,
      .faq__description,
      .faq__icon {
        color: v.$text-color-white;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: v.$color-dark-blue;
  }

  &__icon {
    color: v.$color-dark-blue;
    opacity: 0.5;
    font-size: 12px;
    transform: rotate(0deg);
    transition: transform 0.4s ease;

    &_open {
      transform: rotate(180deg);
      transition: transform 0.4s ease;
    }
  }
}
