@use './variables.scss' as v;
@use './breakpoints.scss' as breakpoint;

.trial {
  padding: 16px;
  background-color: v.$color-purple;

  @include breakpoint.for-large-up {
    height: 152px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -4%;
    text-align: left;
    color: v.$text-color-white;
    font-weight: 500;

    @include breakpoint.for-large-up {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__search {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    margin-top: 20px;

    @include breakpoint.for-large-up {
      justify-content: center;
      margin-top: 32px;
      width: 522px;
    }
  }

  &__input {
    flex-grow: 1;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1%;
    border-radius: 4px;
    border: none;
    background-color: v.$color-input;
    color: v.$text-color-white;

    @include breakpoint.for-large-up {
      width: 100%;
      display: flex;
      height: 60px;
    }

    &::placeholder {
      text-transform: uppercase;
      opacity: 0.34;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 4px v.$color-light-blue;
    }
  }

  &__btn {
    height: 52px;
    width: 100%;

    @include breakpoint.for-large-up {
      width: 230px;
      position: absolute;
      right: 4px;
    }

    &:hover {
      border: 1.5px solid v.$color-light-blue;
      background-color: v.$color-light-blue-opacity;
      color: v.$color-light-blue;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100vw;
  height: 100vh;
  background-color: v.$color-purple;

  &__btn-close {
    position: absolute;
    top: 9px;
    right: 11px;
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    color: v.$text-color-white;

    &::before {
      content: 'x';
      font-weight: 500;
    }

    &:hover {
      border: 1px solid v.$text-color-white;
    }
  }
}

.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 43px auto 0 0;

  &__item {
    text-transform: uppercase;
    text-decoration: none;
    color: v.$text-color-white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;

    &_selected {
      font-weight: 700;
    }
  }
}

.menu-auth {
  display: flex;
  gap: 12px;
  margin: 0 auto;

  &__btn {
    padding: auto;
    height: 52px;
    width: 163px;
    text-transform: uppercase;
    background-color: v.$color-light-blue;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 4px v.$color-light-blue;
  }
}

.poligon {
  width: 272px;
  height: 24px;
  background-color: v.$text-color-white;
  z-index: 2;
  clip-path: polygon(89.72% 0%, 100% 100%, 0% 100%, 0% 0%);

  @include breakpoint.for-large-up {
    width: 640px;
    height: 60px;
  }
}
